@use 'variables.scss';
 
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    a{
        text-decoration: none;
        
    }
    section {
        @include variables.centering($wdt: 80%, $mar: 20px auto 0);
        height: 100vh;
        &.first {
            @include variables.centering($wdt: 100%, $mar: 0);
            .wrapper {
             @include variables.centering($wdt: 80%, $mar: 20px auto 0);
            }
            a{
                color: white;
            }
            color: white;
            background: url(Images/1674d510f98ca1c0dfd08dd73311f7fbb18716ba.jpg) no-repeat ;
            background-size: cover;
            padding: 1px;
            .header-container {
    font-size: 20px;
    
    @include variables.flex($jus: space-between);
     .header-links-container {
        @include variables.flex($gap: 30px);
     }
     select {
        border: none;
        background-color: transparent;
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        margin-left: 40px;
     }
   }
    .first-article {
           @include variables.centering($wdt: 65%, $mar: 150px 0 0 0);
           line-height: 1.3;
        &-header{
             @include variables.header();
             margin-bottom: 20px;
        }
        &-par {
           text-transform: uppercase;
           font-weight: 500;
        }
    }

        }
        &.second {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            column-gap: 80px;
                .second-header {
                  @include variables.header();
                  color:  variables.$mainColor;
                  grid-column: span 2;
                }
                .second-par {
                  text-align: justify;
                  line-height: 1.3;
                  grid-row: span 2;
                  position: relative;
                }
                img {
                    width: 100%;
                    grid-row: 2 / 4;
                    grid-column: 2 / 3;
                    border-radius: 10px;
                }
                a {
                    
                    color: white;
                    background-color:  variables.$mainColor;
                    border-radius: 10px;
                    padding: 10px 20px;
                    font-weight: 500;
                    position: absolute;
                    bottom: -120px;
                }
        }
        &.third {
             background-color: variables.$mainColor;
              @include variables.centering($wdt: 100%, $mar: 0);
            .wrapper {
             @include variables.centering($wdt: 80%, $mar: 20px auto 0);
             padding: 1px;
             .third-header {
                @include variables.header();
                color: white;
                
             }
             .services-container {
                color: white;
                @include variables.flex($gap: 30px, $jus: space-between);
                flex-wrap: wrap;
                margin-top: 100px;
                .service-item {
                    height: 90px;
                    display: grid;
                    align-items: center;
                    column-gap: 20px;
                    grid-template-columns: 1fr 4fr;
                    grid-template-rows: 1fr 1fr;
                    background-color: #FFFFFF33;
                    padding: 15px 33px;
                    border-radius: 10px;
                    box-shadow: -8px 10px 21px 0px #FFFFFF0D;
                    width: 250px;
                    p {
                        font-size: 10px;
                        line-height: 0.9rem;
                    }
                    img {
                        grid-row: span 2;
                    }
                    h3 {
                        font-weight: 600;
                        font-size: 13px;
                    }
                }
             }
            }
        }
        &.fourth {
            .fourthHeader{
                @include variables.header();
                text-align: center;
            }
        }
    }
   
}

