@use 'variables.scss';
 
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    a{
        text-decoration: none;
        
    }
    section {
        @include variables.centering($wdt: 80%, $mar: 20px auto 0);
        height: 100vh;
        &.first {
            @include variables.centering($wdt: 100%, $mar: 0);
            .wrapper {
             @include variables.centering($wdt: 80%, $mar: 20px auto 0);
            }
            a{
                color: white;
            }
            color: white;
            background: url(Images/1674d510f98ca1c0dfd08dd73311f7fbb18716ba.jpg) no-repeat ;
            background-size: cover;
            padding: 1px;
            .header-container {
    font-size: 20px;
    
    @include variables.flex($jus: space-between);
     .header-links-container {
        @include variables.flex($gap: 30px);
     }
     select {
        border: none;
        background-color: transparent;
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        margin-left: 40px;
     }
   }
    .first-article {
           @include variables.centering($wdt: 65%, $mar: 150px 0 0 0);
           line-height: 1.3;
        &-header{
             @include variables.header();
             margin-bottom: 20px;
        }
        &-par {
           text-transform: uppercase;
           font-weight: 500;
        }
    }

        }
        &.second {
            @include variables.flex($jus: center);
            .second-wrapper { 
                padding: 50px;
                .second-header {
                  @include variables.header();
                  color: #00095E;
                }
                .second-par {
                  text-align: justify;
                  line-height: 1.3;
                }
                img {
                    width: 100%;
                } 
            }
        }
    }
   
}

